<!doctype html>
<html lang="en" ng-app="allView">
<head>
    <meta charset="utf-8">
    <h1>Hilbert-A/B Testing</h1>
    <button type="submit"  onClick="refreshPage()">Refresh Button</button>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="app.css" />
    <script src="bower_components/angular/angular.js"></script>
    <script src="app.js"></script>
    <script src="funcs.js"></script>
    <script src="model-list.component.js"></script>
    <script src="phone-list.component.js"></script>
    <script src="formit.js"></script>
    <script src = "httpget.js"></script>
	</head>
	<body>        <hr style="height:1px;border:none;color:#333;background-color:#333;">
                 <div> 
            

                    <h4>Current Buckets</h4>
                <div ng-controller="buckets">
                    <div class="table-responsive">
                    
                <table class = "table">
                  <tr>
                    <th>App/Model</th>
                    <th>Bucket Name</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Status</th>
                    <th>Allocation</th>
                  </tr>
                  <tr ng-repeat="buck in buckets">
                    <td>{{buck.model}}</td>
                    <td>{{buck.bucketName}}</td>
                    <td>{{buck.startDate}}</td>
                    <td>{{buck.endDate}}</td>
                    <td>{{buck.status}}</td>
                    <td>{{buck.allocation}}</td>
                  </tr>
                </table>
                     </div>
                    </div>
                     <hr style="height:1px;border:none;color:#333;background-color:#333;">
            
                    
                     
                     
                     <div id="Buckets">
                         <hr>
                         <h4>Edit Bucket</h4>
                         <div>
                      <form action="http://localhost:8080/boss/changeBucket" method="put" enctype='applications/json'>
                      <fieldset>
                      <div>
                          <label>Who is accessing?</label>
                          <select name ="accessingUser" ng-controller="users">
                              <option value ="{{use.id}}" ng-repeat="use in users">{{use.firstName}} {{use.lastName}}</option>
                          </select>
                          <br>
                          <label>Bucket Changed</label>
                          <select name = "bucketID" ng-controller="buckets">
                              <option value ="{{bucket.bucketID}}" ng-repeat="bucket in buckets">{{bucket.bucketName}}</option>
                          </select>
                        
                          
                          <br>
                          <label>Category</label>
                          <select name="category">
                          <option value="endDate">End Date</option>
                          <option value="model">Model/Algo</option>  
                          <option value="allocation">Allocation</option>
                          <option value="status">Status</option>
                          </select>
                          <br><br>
                          <label for="newEntity">New Value</label>
                          <input name="newEntity" id="newEntity" value="">
                        </div>
                        <div>
                          <button>Change Bucket</button>
                        
                          <button><a href="experimentTab.html">Cancel</a></button>
                            </div>
                        </fieldset>
                        </form>
                    </div>
                         <hr>
                         </div>
                
        </div>
	</body>

</html>