<!doctype html>
<html lang="en" ng-app="allView">
<head>
    <meta charset="utf-8">
    <h1>Hilbert-A/B Testing</h1>
    <button type="submit"  onClick="refreshPage()">Refresh Button</button>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="app.css" />
    <script src="bower_components/angular/angular.js"></script>
    <script src="app.js"></script>
    <script src="funcs.js"></script>
    <script src="model-list.component.js"></script>
    <script src="phone-list.component.js"></script>
    <script src="formit.js"></script>
    <script src = "httpget.js"></script>
	</head>
	<body>
		          <div id="Experiments">  
               <h3>Experiments</h3>
                      <hr style="height:1px;border:none;color:#333;background-color:#333;">
                  <p>Edit/Create Experiment</p>
                    <div>
                    <form action="http://localhost:8080/boss/experiments/addOneExperiment" method="post" enctype='application/json' target="hidden-form">
                      <fieldset>
                      <div>
                        <div>
                          <label for="name">Experiment Name</label>
                        <input name="name" id="name" value="">
                      </div>
                        <br>
                        <div style="float:left;margin-right:20px;">
                        <label for="startDate">Start Date</label>
                        <input name="startDate" id="startDate" value="07-12-2018">
                      </div>
                      <div style="float:left;">
                        <label for="endDate">End Date</label>
                        <input name="endDate" id="endDate" value="">
                      </div>
                        <br>
                        <br>
                        <div>
                        <label for="description">Description</label>
                        <input name="description" id="description" size="100">
                      </div>
                      <br>
                      <div>
                          <label>Status</label>
                          <select name="status">
                        <option value ="{{i}}" ng-repeat = "i in ['inactive', 'active started', 'active paused', 'terminated']">{{i}}</option>
                              </select>
                        <label for="algID">Selection Routine</label>
                        <input name="algID" id="algID" value="">
                      </div>
                      <br>
                          <hr color="black">
                        <div>
                            <a href="buckets.html">    
                            <span class="glyphicon glyphicon-plus-sign"> </span>
                            </a>
                        Add/Edit Bucket
                            <br>
                            <div style="float:right">
                        <button><a href="index.html">Start Experiment</a></button>
                          <button onClick="window.location.reload()">Save Experiment</button>
                                
                                
            <button><a href="index.html">Cancel</a></button>
                                        
                                
                            </div>
                        
                        </div>
                        </div>
                        </fieldset>
                    </form>
                             
                    </div>
               <br><br>
                      
            <!--          
               <br><br>
               <h4>Add Bucket to Experiment</h4>
                    <p>Please use this wisely! This will destroy the bucket's connection to its previous experiment! </p>
                        <div>
                        <form action="http://localhost:8080/boss/experiments/addOneBucket" method="post" enctype='application/json' >
                      <fieldset>
                        <div>
                            <label>Bucket ID</label>
                            <select name ="bucketID" ng-controller="buckets">
                              <option value ="{{buck.bucketID}}" ng-repeat="buck in buckets">{{buck.bucketName}}</option>
                          </select>
                        <label>Experiment</label>
                        <select name ="expID" ng-controller="experiments">
                              <option value ="{{exp.id}}" ng-repeat="exp in experiments">{{exp.name}}</option>
                          </select>
                        <label>User</label>
                        <select name ="userID" ng-controller="users">
                              <option value ="{{user.id}}" ng-repeat="user in users">{{user.firstName}} {{user.lastName}}</option>
                          </select>  
                        <br>
                        <div>
                          <button>Add Bucket to Experiment</button>
                        </div>
                        </div>
                      </fieldset>
                        </form>
                        </div>
                        -->
    
                                
            <IFRAME style="display:none" name="hidden-form"></IFRAME> 
           </div>
	</body>

</html>